{{define "section-content"}}
   Section Content : {{.Content}}
   <hr>
   <h3>Internal Templates :</h3>
{{ $paginator := .Paginate (where .Site.Pages "Kind" "section") }}
{{ range $paginator.Pages.ByTitle }}
   <a href="{{.Permalink}}">{{ .Title }}</a>
{{ end }}
{{ template "_internal/pagination.html" . }}

{{ $platformPaginator := .Paginate (where .Site.Pages "Kind" "term") }}
platformPaginator : {{$platformPaginator}}
<br>
{{ template "_internal/pagination.html" . }}
{{ range $platformPaginator.Pages.ByTitle }}
  
   <p>{{.Title}} - {{.Type}}</p>
   <!-- <a href="{{.Permalink}}">{{ .Title }}</a> -->
{{ end }}
{{end}}