<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h1 style="text-align: center; background-color: darkgoldenrod">
      Single Page Default
    </h1>
    <h2>Title</h2>
    <i style="color: brown">{{.Title}}</i>
    <hr />
    {{.Section}}
    <hr />
    <h3>url management</h3>
    Link - {{.Params.urllink}}
    <br>
    Url other than http,https and mail to rest of all will be rendered as ZgotmplZ
    <a href="{{.Params.urllink | safeURL}}">link</a>
    <h3>Content</h3>
    {{.Content}}
    <h3>Summary</h3>
    {{.Summary}}
    <hr>
    {{.IsSection}}
    <h3>Regular Pages</h3>
    
    {{.Resources.ByType "image"}}
  </body>
</html>
