<h2>Page details</h2>
<h3>Site Pages</h3>
{{range $page := .Site.Pages}}
<pre>{{.Kind}} - <a href="{{$page.RelPermalink}}">{{.Title}}</a></pre>
{{end}}

<hr />

<h3>Site Regular Pages</h3>
{{range $page := site.RegularPages}}
<pre>{{.Kind}} - <a href="{{$page.RelPermalink}}">{{.Title}}</a></pre>
{{end}}

<hr />

<h3>Site Section Pages</h3>
{{range $page := site.Pages}}

<pre>{{.Kind}} - <a href="{{$page.RelPermalink}}">{{.Title}}</a></pre>

{{end}}

<hr />

<h3>Site Taxonomies</h3>
{{range $page := site.Pages}} 
{{if eq $page.Kind "taxonomy"}}
<pre>{{.Kind}} - <a href="{{$page.RelPermalink}}">{{.Title}}</a></pre>
{{end}} 
{{end}}

<hr>
<h3>Content</h3>
{{.Content}}
