{{.Content}}
AddDate - returns time by accepting arguments in order y m d (numbers)
{{$date := "2000-09-29" | time.AsTime}}
<p>Original Date : {{$date}}</p>
<p>Adding one year to the date : {{$date.AddDate 1 0 0 | time.Format "2006-01-02"}}</p>
<p>Subtracting one  year to the date : {{$date.AddDate -1 0 0 | time.Format "2006-01-02"}}</p>

Format - Can format the date,publish date,last mod
<p>{{.Date.Format "Jan 2006"}}</p>
<p>{{.Date.Format "2006"}}</p>
<p>{{.Date.Format "Mon Jan 2006 02"}}</p>
<p>{{.Date.Format "02"}}</p>
<p>{{.Date.Format "Jan"}}</p>
<p>Mst : {{.Date.Format "02 Jan 06 15:04 MST"}}</p>
<p>IST : {{.Date.Format "02 Jan 06 15:04 IST"}}</p>
<p>{{dateFormat "02 Jan 06 15:04 MST" .Date.UTC }}</p>
<p>{{ dateFormat "02 Jan 06 15:04 MST" .Date.Local }}</p>

Get Function:
Both page and site has access to get the page.
Page will relatively check for the list or section pages.
{{$page := .GetPage "movie"}}
<br>
{{with $page}}
  {{$actress := .GetPage "actress.md"}} {{/*Incase of site it will throw ambiguity*/}}
  {{$actress}}
{{end}}
<br>
Get resource from leaf bundle is not possible instead use resources :
{{.GetPage "leaf/leaf.md"}}
<br>
{{resources.Get "movie/comedian.md"}}