<html>
  <head> </head>
  <body>
    <h1 style="background-color: gainsboro; text-align: center; color: black">
      Home Page Layout
    </h1>
    <h2>Title</h2>
    {{ .Site.Title }}
    <h2>Name</h2>
    {{.Name}}
    <h2>Permalink</h2>
    {{.Permalink}}
    <h2>Relative Link</h2>
    {{.RelPermalink}}
    <h2>Resource Type</h2>
    {{.ResourceType}}
    <h2>Media Type</h2>
    {{.MediaType}}
    <h2>Media type Main type</h2>
    {{.MediaType.MainType}}
    <h3>Is Home</h3>
    {{.IsHome}}
    <h2 style="text-decoration: underline;">Taxonomy Links :-</h2>
    <ul>
      {{range $page := site.Pages}}
      {{with eq $page.Kind "term"}}
        <li><a href="{{$page.RelPermalink}}">{{$page.Title}}</a></li>
      {{end}}
    {{end}}
    </ul>
    <hr>
    <h2>Regular Pages filtered by book section</h2>
    {{range $page := .Site.RegularPages}}
     {{if eq $page.Section "book" }}
       {{.Title}}
    {{end}}
    {{end}}
  </body>
</html>
